// 300x250 Banner

body {
    @extend %mr-base;
}

.exit {
    @extend %mr-base;
    @include setPosition(absolute, top 0 left 0, 3000);
    display: block;
    border: 1px solid $black;
    background: transparent;
}
