// 320x480 Banner

body {
    @extend %hem-base;
}

.exit {
    @extend %hem-base;
    @include setPosition(absolute, top 0 left 0, 3000);
    display: block;
    border: 1px solid $black;
    background: transparent;
}
